/* project colors */
/* defaults */
/* sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #B0B7C8;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #414d5a;
}

::-webkit-scrollbar-thumb {
  background: #bfcbdd;
  border-radius: 20px;
  border: 1px solid #929eb1;
}

.inline {
  display: inline;
}

.no-events {
  pointer-events: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

li {
  list-style: none;
}

.tool-wrapper {
  background-color: #E8F2FC;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  min-height: 900px;
  margin: 0 auto;
  padding: 20px;
  transition: 0.3s;
  display: none;
}

.notice {
  height: 350px;
  width: 85%;
  background-color: #F8FBFF;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 45px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: 300;
}

@media (min-width: 768px) {
  .tool-wrapper {
    display: flex;
  }

  .notice {
    display: none;
  }
}
@media (min-width: 1440px) {
  .tool-wrapper {
    height: 90%;
    width: 90%;
    border-radius: 10px;
  }
}
.sidebar {
  background-color: #3C5063;
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: 0.5s;
}

.sidebar.compact-sidebar {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 65px;
}
.sidebar.compact-sidebar .expanded {
  display: none;
}
.sidebar.compact-sidebar .compact {
  display: block;
}
.sidebar.compact-sidebar .sidebar-header img {
  margin: 0 auto;
}

.sidebar-header {
  margin-bottom: 0;
  padding: 10px;
}
.sidebar-header .top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: #F8FBFF;
}
.sidebar-header .top img {
  margin-right: 10px;
}
.sidebar-header h2 {
  color: #AC9FFA;
  text-align: center;
  font-size: 1em;
  margin-top: 6px;
}
.sidebar-header .custom-divider {
  height: 3px;
  width: 100%;
  background: rgba(248, 251, 255, 0.5);
  border-radius: 25px;
  margin-top: 10px;
}

.project-list {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: auto;
  overflow: auto;
}
.project-list li {
  padding: 15px 10px;
  margin: 5px auto;
  color: #89A0B7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5px;
}
.project-list li:hover {
  color: #AC9FFA;
  background: #465d73;
}
.project-list li i {
  font-size: 1.3em;
}
.project-list li p {
  margin-left: 15px;
  width: 100%;
}
.project-list li .compact {
  margin-left: 5px;
  display: none;
  text-transform: uppercase;
}

.sidebar-nav {
  margin-top: auto;
  height: 45px;
  width: 100%;
  background: #304354;
  min-height: 40px;
}
.sidebar-nav .sidebar-options {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.sidebar-nav .sidebar-options li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  transition: 0.2s;
  color: #89A0B7;
  height: 100%;
  cursor: pointer;
}
.sidebar-nav .sidebar-options li.toggle i {
  transition: 0.5s;
}
.sidebar-nav .sidebar-options li:hover {
  background: #465d73;
  color: #AC9FFA;
}
.sidebar-nav .sidebar-options .chev {
  margin-left: auto;
  padding: 5px 20px;
}

.sidebar.compact-sidebar .sidebar-nav {
  height: 120px;
}
.sidebar.compact-sidebar .sidebar-nav .sidebar-options {
  flex-direction: column;
  height: 100%;
}
.sidebar.compact-sidebar .sidebar-nav .sidebar-options li {
  width: 100%;
  padding: 10px !important;
}
.sidebar.compact-sidebar .sidebar-nav .sidebar-options li.compact-toggle i {
  transform: rotate(540deg);
}

.main-content {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.main-content.compact-main-content {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*# sourceMappingURL=styles.css.map */
