.sidebar {
    background-color: $dark1;
    @include size(100%, 250px);
    @include flex(column, nowrap, center, center);
    border-radius: $br-10;
    margin-right: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: $t5;
}

.sidebar.compact-sidebar {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 65px;
        & .expanded {
            display: none;
        }
        & .compact {
            display: block;
        }

        & .sidebar-header img {
            margin: 0 auto;
        }
}