.sidebar-nav {
    margin-top: auto;
    @include size(45px, 100%);
    background: $dark2;
    min-height: 40px;
        & .sidebar-options {
            height: 100%;
            @include flex(row, nowrap, flex-start, center);
                & li {
                    @include flex(row, nowrap, center, center);
                    padding: 5px 15px;
                    transition: $default-timing;
                    color: $icon1;
                    height: 100%;
                    cursor: pointer;
                        &.toggle i {
                            transition: $t5;
                        }
                        &:hover {
                            background: lighten($dark1, 5%);
                            color: $accent1;
                        }
                }
                & .chev {
                    margin-left: auto;
                    padding: 5px 20px;
                }
        }
}


.sidebar.compact-sidebar .sidebar-nav {
    height: 120px;
        & .sidebar-options {
            flex-direction: column;
            height: 100%;
                & li {
                    width: 100%;
                    padding: 10px!important;
                        &.compact-toggle i {
                            transform: rotate(540deg);
                        }
                }
        }
}