.project-list {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    overflow: auto;
        & li {
            padding: 15px 10px;
            margin: 5px auto;
            color: $icon1;
            @include flex(row, nowrap, center, center);
            transition: $default-timing;
            cursor: pointer;
            border-radius: $br-5;
                &:hover {
                    color: $accent1;
                    background: lighten($dark1, 5%);
                }
                & i {
                    font-size: 1.3em;
                }
                & p {
                    margin-left: 15px;
                    width: 100%;
                }
                & .compact {
                    margin-left: 5px;
                    display: none;
                    text-transform: uppercase;
                }
        }
}