/* project colors */
// content
$dark1: #3C5063;
$dark2: #304354;

$white1: white;
$white2: #F8FBFF;

$container1: #B0B7C8;
$container2: #E8F2FC;

// icons
$icon1: #89A0B7;
$icon2: #BDCEE0;

// theme
$accent1: #AC9FFA;

// conditionals
$success: #C3F5E6;
$error: #FFD2CF;
$warning: #FFE6CF;

/* defaults */

// timings
$t2: .2s;
$t3: .3s;
$t5: .5s;
$t10: 1s;

$default-timing: $t2;

// border radius
$br-10: 10px;
$br-5: 5px;
$br-50: 50%;



/* sizing */
$page-sm: 1024px;
$page-m: 1200px;
$page-l: 1440px;

$page-size: $page-l;

