::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(65, 77, 90);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(191, 203, 221);
    border-radius: 20px;
    border: 1px solid rgb(146, 158, 177);
  }

  .inline {
      display: inline;
  }

  .no-events {
      pointer-events: none;
  }